.authorized-installer {
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 100px;
	overflow: hidden;
}

.position_left {
	position: relative;
	top: 0;
	left: -100%;
}

.position_right {
	position: relative;
	top: 0;
	left: 100%;
}

.authorized-installer__wrapper {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
	max-width: var(--max-width);
	opacity: 0;
}

.authorized-installer__picture,
.authorized-installer__description {
	display: flex;
	width: 40%;
	padding: 0 30px 0 15px;
}

.authorized-installer__picture > img {
	width: 100%;
}

.authorized-installer__description {
	width: 60%;
	flex-direction: column;
	padding-right: 15px;
}

.authorized-installer__description > h4 {
	font-size: 2.5rem;
	margin: 0 0 10px;
	color: var(--main-color);
}

.authorized-installer__description > h2 {
	font-size: 3rem;
	margin-bottom: 30px;
}
.authorized-installer__description > p,
.authorized-installer__description strong {
	font-size: 1.7rem;
	margin: 0 auto 20px;
	line-height: 120%;
}

@media only screen and (max-width: 1024px) {
	.authorized-installer__picture,
	.authorized-installer__description {
		width: 50%;
	}
}

@media only screen and (max-width: 720px) {
	.authorized-installer {
		margin-top: 70px;
	}
	.authorized-installer__wrapper {
		left: 0;
		flex-direction: column;
		opacity: 1;
	}

	.authorized-installer__picture,
	.authorized-installer__description {
		width: 100%;
		padding: 0;
	}
	.authorized-installer__description > h4 {
		font-size: 2.2rem;
		margin: 10px 0 10px;
	}

	.authorized-installer__description > h2 {
		font-size: 2.7rem;
		margin-bottom: 20px;
	}
	.authorized-installer__description > p,
	.authorized-installer__description strong {
		font-size: 1.5rem;
		margin: 0;
	}
}

@media only screen and (max-width: 520px) {
	.authorized-installer__description > h4 {
		font-size: 1.8rem;
		margin: 5px 0 10px;
	}

	.authorized-installer__description > h2 {
		font-size: 2.3rem;
		margin-bottom: 15px;
	}
	.authorized-installer__description > p,
	.authorized-installer__description strong {
		font-size: 1.2rem;
	}
}

@media only screen and (max-width: 400px) {
	.authorized-installer__description > h4 {
		font-size: 1.6rem;
	}

	.authorized-installer__description > h2 {
		font-size: 2.1rem;
	}
	.authorized-installer__description > p,
	.authorized-installer__description strong {
		font-size: 1.1rem;
	}
}

.whereWeWork {
	display: flex;
	width: 100%;
	margin-top: 100px;
	overflow: hidden;
}

.whereWeWork__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: var(--max-width);
	margin: 0 auto;
}

.whereWeWork__descript {
	position: relative;
	display: flex;
	top: 0;
	left: 100%;
	flex-direction: column;
	width: 100%;
	text-align: center;
	opacity: 0;
}
.whereWeWork__descript > h4 {
	font-size: 2.5rem;
	margin: 0 0 10px;
	color: var(--main-color);
}
.whereWeWork__descript > h2 {
	font-size: 3rem;
	margin-bottom: 30px;
}
.whereWeWork__descript > p {
	font-size: 1.8rem;
	margin: 0 auto 20px;
}

.whereWeWork__guarantee {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 50px;
	overflow: hidden;
}

.whereWeWork__guarantee-producense,
.whereWeWork__guarantee-guarantee {
	position: relative;
	top: 0;
	display: flex;
	align-items: center;
	width: 50%;
	margin: 20px;
	padding: 40px;
	border: 1px solid #ddd;
	opacity: 0;
}

.whereWeWork__guarantee-producense {
	left: -100%;
}
.whereWeWork__guarantee-guarantee {
	left: 100%;
}

.whereWeWork__guarantee-producense-picture,
.whereWeWork__guarantee-guarantee-picture {
	display: flex;
	justify-content: center;
	width: 20%;
	color: var(--main-color);
}

.whereWeWork__guarantee-producense-picture > i,
.whereWeWork__guarantee-guarantee-picture > i {
	font-size: 9rem;
}

.whereWeWork__guarantee-producense-description,
.whereWeWork__guarantee-guarantee-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 80%;
	padding-left: 40px;
}

.whereWeWork__guarantee-producense-description > h4,
.whereWeWork__guarantee-guarantee-description > h4 {
	font-size: 2.5rem;
	margin: 0 0 10px;
}

.whereWeWork__guarantee-producense-description > p,
.whereWeWork__guarantee-guarantee-description > p {
	font-size: 1.8rem;
	margin: 0 auto;
}

@media only screen and (max-width: 840px) {
	.whereWeWork__guarantee-producense,
	.whereWeWork__guarantee-guarantee {
		padding: 30px;
	}
	.whereWeWork__guarantee-producense-description,
	.whereWeWork__guarantee-guarantee-description {
		padding-left: 30px;
	}
	.whereWeWork__descript > h4 {
		font-size: 2.2rem;
	}
	.whereWeWork__descript > h2 {
		font-size: 2.7rem;
	}
	.whereWeWork__descript > p {
		font-size: 1.5rem;
	}
	.whereWeWork__guarantee-producense-description > h4,
	.whereWeWork__guarantee-guarantee-description > h4 {
		font-size: 2.2rem;
	}

	.whereWeWork__guarantee-producense-description > p,
	.whereWeWork__guarantee-guarantee-description > p {
		font-size: 1.5rem;
	}
	.whereWeWork__guarantee-producense-picture > i,
	.whereWeWork__guarantee-guarantee-picture > i {
		font-size: 8rem;
	}
}

@media only screen and (max-width: 720px) {
	.whereWeWork__guarantee {
		flex-direction: column;
		margin-bottom: 40px;
	}

	.whereWeWork__descript {
		left: 0;
		opacity: 1;
	}

	.whereWeWork__guarantee-producense,
	.whereWeWork__guarantee-guarantee {
		left: 0;
		width: 100%;
		margin: 20px;
		opacity: 1;
	}
	.whereWeWork__guarantee-producense-picture > i,
	.whereWeWork__guarantee-guarantee-picture > i {
		font-size: 7rem;
	}
}

@media only screen and (max-width: 520px) {
	.whereWeWork__guarantee-producense,
	.whereWeWork__guarantee-guarantee {
		margin: 10px 0;
		padding: 20px;
	}

	.whereWeWork__guarantee-producense-description,
	.whereWeWork__guarantee-guarantee-description {
		padding-left: 20px;
	}

	.whereWeWork__descript > h4 {
		font-size: 1.6rem;
	}
	.whereWeWork__descript > h2 {
		font-size: 2.1rem;
	}
	.whereWeWork__descript > p {
		font-size: 1.1rem;
	}
	.whereWeWork__guarantee-producense-description > h4,
	.whereWeWork__guarantee-guarantee-description > h4 {
		font-size: 1.6rem;
	}

	.whereWeWork__guarantee-producense-description > p,
	.whereWeWork__guarantee-guarantee-description > p {
		font-size: 1.1rem;
	}
	.whereWeWork__guarantee-producense-picture > i,
	.whereWeWork__guarantee-guarantee-picture > i {
		font-size: 5rem;
	}
}
