.slider {
	position: relative;
	top: var(--nav-height);
	width: 100%;
	background-repeat: no-repeat;
	height: 500px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.slider .slider_opacity {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.slider .previous_slide,
.slider .next_slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
}

.slider .previous_slide button,
.slider .next_slide button {
	width: 60px;
	height: 60px;
}

.slider i {
	font-size: 1.7rem;
}

.slider .slider_opacity .section_slider {
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
	margin-left: 40px;
	margin-right: 10px;
	color: var(--color-white);
}

.section_slider_position {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 50%;
	opacity: 0;
	transition: opacity 1s, left 1s;
}

.slider .slider_opacity .section_slider h4 {
	font-size: 2.5rem;
}
.slider .slider_opacity .section_slider h1 {
	text-transform: uppercase;
	font-size: 7rem;
	margin-top: 5px;
}
.slider .slider_opacity .section_slider p {
	font-size: 1.5rem;
	margin-top: 30px;
	margin-bottom: 30px;
}

.slider .slider_opacity .section_slider a {
	display: inline-block;
	text-align: center;
	line-height: 50px;
	height: 50px;
	width: 140px;
	font-size: 1.7rem;
	background-color: var(--main-color);
	color: var(--color-white);
	text-decoration: none;
	border: 0;
	margin: 0 30px 0 0;
	transition: 0.5s;
}
@media only screen and (min-width: 1024px) {
	.slider .slider_opacity .section_slider a:hover {
		color: var(--main-color);
		background-color: var(--color-white);
	}
}
@media only screen and (max-width: 1260px) {
	.slider {
		top: var(--nav-heigth-small);
	}
}

@media only screen and (max-width: 840px) {
	.slider {
		top: var(--nav-heigth-smallest);
	}
	.slider .previous_slide,
	.slider .next_slide {
		width: 0;
	}
	.slider .previous_slide button,
	.slider .next_slide button {
		display: none;
	}
}
@media only screen and (max-width: 710px) {
	.slider .slider_opacity .section_slider h4 {
		font-size: 2.2rem;
	}
	.slider .slider_opacity .section_slider h1 {
		font-size: 5.5rem;
	}
	.slider .slider_opacity .section_slider p {
		font-size: 1.3rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.slider .slider_opacity .section_slider a {
		height: 40px;
		line-height: 40px;
		width: 120px;
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 540px) {
	.slider .slider_opacity .section_slider {
		padding-left: 20px;
	}
	.slider .slider_opacity .section_slider h4 {
		font-size: 2.2rem;
	}
	.slider .slider_opacity .section_slider h1 {
		font-size: 5.5rem;
	}
}
@media only screen and (max-width: 414px) {
	.slider .slider_opacity .section_slider h4 {
		font-size: 2rem;
	}
	.slider .slider_opacity .section_slider h1 {
		font-size: 4.5rem;
	}
	.slider .slider_opacity .section_slider p {
		font-size: 1.2rem;
	}
	.slider .slider_opacity .section_slider a {
		width: 100px;
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 320px) {
	.slider .slider_opacity .section_slider h4 {
		font-size: 1.6rem;
	}
	.slider .slider_opacity .section_slider h1 {
		font-size: 3.7rem;
	}
	.slider .slider_opacity .section_slider p {
		font-size: 1.1rem;
	}
	.slider .slider_opacity .section_slider a {
		width: 90px;
		font-size: 1.4rem;
	}
}

/*  */
/* SECTION OF ABOUTUS */
/*  */
/*  */
/*  */
/*  */
/*  */

.aboutUs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 20px;
	width: 1000px;
	background-color: var(--color-white);
	box-shadow: 0 0 10px 0 black;
	z-index: 4;
}

.aboutUs .whywe {
	color: black;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
.aboutUs .whywe h2 {
	margin: 40px auto 20px;
	font-size: 3rem;
}

.aboutUs .whywe p {
	padding: 0 40px 10px;
	font-size: 1.6rem;
	text-align: justify;
}

.aboutUs .informations {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.aboutUs .informations .experiences {
	position: relative;
	width: 40%;
}

.experiences .experiences_position {
	position: relative;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	text-align: left;
	background-color: var(--main-color);
	color: var(--color-white);
	padding: 50px 30px;
	opacity: 0;
}

.aboutUs .informations .experiences h4,
.aboutUs .informations .experiences p {
	font-size: 1.6rem;
	margin-bottom: 10px;
}

.aboutUs .informations .experiences h2 {
	font-size: 2.4rem;
	margin-bottom: 20px;
}

.aboutUs .informations .experiences p {
	font-weight: 300;
	margin-bottom: 20px;
}

.aboutUs .informations .experiences a {
	display: block;
	height: 50px;
	width: 180px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 1.6rem;
	color: var(--main-color);
	background-color: var(--color-white);
	font-weight: bold;
}

.aboutUs .informations .services {
	/* position: relative; */
	width: 70%;
}

.services .services_position {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	padding: 50px 50px 0 50px;
	opacity: 0;
}

.aboutUs .informations .services .typesOfServices,
.aboutUs .informations .services .typesOfAdvatages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 20px;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid gray;
}

.aboutUs .informations .services .typesOfServices a,
.aboutUs .informations .services .typesOfServices i {
	font-size: 1.8rem;
	color: var(--main-color);
}

.aboutUs .informations .services .typesOfServices a {
	position: relative;
	left: 0;
	width: 50%;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-bottom: 15px;
	transition: 0.3s;
}

.aboutUs .informations .services .typesOfServices i {
	margin-right: 10px;
}

.aboutUs .informations .services .typesOfAdvatages {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	border: 0;
}

.aboutUs .informations .services .typesOfAdvatages div {
	width: 45%;
	height: 100px;
	color: var(--main-color);
	margin-bottom: 20px;
}

.aboutUs .informations .services .typesOfAdvatages div i {
	font-size: 5rem;
	margin-bottom: 10px;
}

.aboutUs .informations .services .typesOfAdvatages div p {
	font-size: 1.5rem;
}

@media only screen and (min-width: 1024px) {
	.aboutUs .informations .services .typesOfServices a:hover {
		left: 10px;
	}
}

@media only screen and (max-width: 1040px) {
	.aboutUs {
		width: 900px;
	}
}
@media only screen and (max-width: 950px) {
	.aboutUs {
		width: 800px;
	}
	.aboutUs .informations .services .typesOfServices a,
	.aboutUs .informations .services .typesOfServices i {
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 840px) {
	.aboutUs {
		width: 700px;
		overflow: hidden;
	}
}
@media only screen and (max-width: 720px) {
	.aboutUs {
		width: 500px;
	}
	.aboutUs .whywe h2 {
		margin: 30px auto 10px;
		font-size: 2rem;
	}

	.aboutUs .whywe p {
		font-size: 1.3rem;
	}
	.aboutUs .informations {
		flex-direction: column;
	}
	.aboutUs .informations .experiences {
		text-align: center;
		width: 100%;
	}

	.experiences .experiences_position {
		width: 100%;
		left: 0;
		opacity: 1;
	}

	.aboutUs .informations .experiences a {
		margin: 0 auto;
		height: 40px;
		width: 150px;
		line-height: 40px;
		font-size: 1.4rem;
	}
	.aboutUs .informations .services {
		width: 100%;
	}
	.services .services_position {
		width: 100%;
		left: 0;
		opacity: 1;
	}
}

@media only screen and (max-width: 500px) {
	.aboutUs {
		width: 370px;
	}
	.aboutUs .informations .experiences h2 {
		font-size: 2.1rem;
	}
	.aboutUs .informations .experiences h4,
	.aboutUs .informations .experiences p {
		font-size: 1.4rem;
	}

	.aboutUs .informations .services .typesOfAdvatages div {
		height: 80px;
	}

	.aboutUs .informations .services .typesOfAdvatages div i {
		font-size: 4rem;
	}

	.aboutUs .informations .services .typesOfAdvatages div p {
		font-size: 1.3rem;
	}
}
@media only screen and (max-width: 380px) {
	.aboutUs {
		width: 280px;
	}
	.aboutUs .whywe h2 {
		margin: 20px auto 10px;
		font-size: 1.8rem;
	}

	.aboutUs .whywe p {
		font-size: 1.1rem;
	}
	.aboutUs .informations .experiences {
		padding: 30px 20px;
	}

	.aboutUs .informations .experiences h2 {
		font-size: 1.7rem;
	}
	.aboutUs .informations .experiences h4,
	.aboutUs .informations .experiences p {
		font-size: 1.2rem;
	}

	.aboutUs .informations .experiences a {
		height: 30px;
		line-height: 30px;
		width: 110px;
		font-size: 1.2rem;
	}

	.aboutUs .informations .services .typesOfServices,
	.aboutUs .informations .services .typesOfAdvatages {
		flex-direction: column;
	}

	.aboutUs .informations .services .typesOfServices a,
	.aboutUs .informations .services .typesOfServices i {
		font-size: 1.4rem;
	}
	.aboutUs .informations .services .typesOfServices a {
		width: 100%;
	}

	.aboutUs .informations .services .typesOfAdvatages {
		text-align: center;
		margin-top: 30px;
	}

	.aboutUs .informations .services .typesOfAdvatages div {
		width: 100%;
		height: 80px;
	}

	.aboutUs .informations .services .typesOfAdvatages div i {
		font-size: 4rem;
	}

	.aboutUs .informations .services .typesOfAdvatages div p {
		font-size: 1.3rem;
	}
}

/*  */
/* SECTION OF REALISATION */
/*  */
/*  */
/*  */
/*  */
/*  */

.realisation,
.pictureOfrealisation {
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
	width: 100%;
}
.pictureOfrealisation {
	margin-top: -100px;
	margin-bottom: 100px;
}
.offer_prev {
	display: flex;
	flex-direction: column;
	position: relative;
	left: -50%;
	margin: 20px auto;
	width: 800px;
	opacity: 0;
	overflow: hidden;
}

.offer_prev h2 {
	font-size: 4rem;
}

.offer_prev h4 {
	font-size: 2.5rem;
	color: var(--main-color);
	width: 600px;
	margin: 0 auto 20px;
}
.offer_prev p {
	font-size: 1.5rem;
}

.offer_items {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.offer_items .item {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 24%;
	margin: 20px;
	height: 400px;
}

.offer_items .item > div {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
}

.offer_items .item a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	z-index: 55;
}

.offer_items .item a::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: 0.3s;
	z-index: 3;
}
.offer_items .item a div.image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/panele-fotowoltaiczne-min.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: scale(1);
	z-index: 0;
	transition: 0.3s;
}
.offer_items .item4 a div.image {
	background-image: url("../images/ogrzewanie-podlogowe.jpg");
}
.offer_items .item2 a div.image {
	background-image: url("../images/pompaciepła2.jpg");
}
.offer_items .item1 a div.image {
	background-image: url("../images/Wentylacja-z-odzyskiem-ciepla.jpg");
}
.offer_items .item a h2 {
	position: absolute;
	top: 75%;
	left: 0;
	width: 100%;
	font-size: 3rem;
	color: var(--color-white);
	text-shadow: 2px 2px 2px black;
	z-index: 4;
	transition: 1s;
}

@media only screen and (min-width: 1024px) {
	.offer_items .item a:hover::after {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.offer_items .item a:hover div.image {
		transform: scale(1.1);
	}
}

@media only screen and (max-width: 830px) {
	.offer_items .item a h2 {
		font-size: 2rem;
	}
	.offer_items .item {
		padding: 10px;
	}
	.offer_prev {
		padding: 20px 20px 10px 20px;
		width: 100%;
	}
}
@media only screen and (max-width: 720px) {
	.offer_prev {
		left: 0;
		opacity: 1;
	}
	.offer_items .item > div {
		left: 0;
	}
}
@media only screen and (max-width: 640px) {
	.realisation {
		margin-top: 50px;
	}
	.pictureOfrealisation {
		margin-top: -70px;
	}
	.offer_prev h2 {
		font-size: 3rem;
	}

	.offer_prev h4 {
		font-size: 1.8rem;
		width: 100%;
	}
	.offer_prev p {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 480px) {
	.offer_prev h2 {
		font-size: 2.6rem;
	}

	.offer_prev h4 {
		font-size: 1.6rem;
		width: 100%;
	}
	.offer_prev p {
		font-size: 1.3rem;
	}
	.offer_items {
		flex-direction: column;
	}

	.offer_items .item {
		width: calc(100% - 20px);
		margin: 10px;
		height: 200px;
	}
}

@media only screen and (max-width: 320px) {
	.realisation {
		margin-top: 30px;
	}
	.offer_prev h2 {
		font-size: 2.2rem;
	}

	.offer_prev h4 {
		font-size: 1.4rem;
		width: 100%;
	}
	.offer_prev p {
		font-size: 1.2rem;
	}
}

/*  */
/* DESCRIPTION ABOUT SOLUTION */
/*  */
/*  */
/*  */
/*  */

.descriptionAboutSolution {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 20px;
	margin-top: 100px;
}

.descriptionAboutSolution .everySolutionInOne {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 1400px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.descriptionAboutSolution .everySolutionInOne img {
	position: relative;
	top: 0;
	left: -100%;
	display: block;
	max-width: 600px;
}

.descriptionAboutSolution .everySolutionInOne .description {
	position: relative;
	top: 0;
	left: 100%;
	max-width: 600px;
}

.descriptionAboutSolution .everySolutionInOne .description h2 {
	font-size: 3rem;
	margin-bottom: 5px;
}

.descriptionAboutSolution .everySolutionInOne .description h4 {
	font-size: 2.3rem;
	margin: 0 auto 20px;
	color: var(--main-color);
}
.descriptionAboutSolution .everySolutionInOne .description p {
	font-size: 1.6rem;
	margin: 0 auto 20px;
	text-align: left;
}
.descriptionAboutSolution .everySolutionInOne .description strong {
	font-size: 1.6rem;
}

.descriptionAboutSolution .renewableSorceOfEnergy {
	position: relative;
	width: 1000px;
	margin: 100px auto;
	overflow: hidden;
}

.renewableSorceOfEnergy_textWrapper {
	position: relative;
	left: -100%;
	opacity: 0;
}
.descriptionAboutSolution .renewableSorceOfEnergy .img_wrapper {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.descriptionAboutSolution .renewableSorceOfEnergy img {
	position: relative;
	left: 100%;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.descriptionAboutSolution .renewableSorceOfEnergy h2 {
	font-size: 3rem;
	margin: 0 auto 5px;
}

.descriptionAboutSolution .renewableSorceOfEnergy h4 {
	font-size: 2.3rem;
	margin: 0 auto 20px;
	color: var(--main-color);
}

.descriptionAboutSolution .renewableSorceOfEnergy p {
	font-size: 1.6rem;
}

@media only screen and (max-width: 1400px) {
	.descriptionAboutSolution .everySolutionInOne {
		width: 1100px;
	}
}

@media only screen and (max-width: 1200px) {
	.descriptionAboutSolution .everySolutionInOne {
		width: 1000px;
	}
}
@media only screen and (max-width: 1024px) {
	.descriptionAboutSolution .everySolutionInOne {
		flex-direction: column;
		width: 800px;
	}
	.descriptionAboutSolution .everySolutionInOne img {
		margin: 0 auto;
	}
	.descriptionAboutSolution .everySolutionInOne .description {
		margin: 10px auto;
	}
	.descriptionAboutSolution .everySolutionInOne .description p {
		text-align: justify;
	}
	.descriptionAboutSolution .renewableSorceOfEnergy {
		width: 800px;
	}
}

@media only screen and (max-width: 840px) {
	.descriptionAboutSolution {
		margin-top: 50px;
	}
	.descriptionAboutSolution .everySolutionInOne {
		width: 600px;
	}
	.descriptionAboutSolution .renewableSorceOfEnergy {
		width: 600px;
		margin: 50px auto;
	}
}
@media only screen and (max-width: 720px) {
	.descriptionAboutSolution .everySolutionInOne img {
		left: 0;
	}
	.descriptionAboutSolution .everySolutionInOne .description {
		left: 0;
	}
	.renewableSorceOfEnergy_textWrapper {
		left: 0;
		opacity: 1;
	}

	.descriptionAboutSolution .renewableSorceOfEnergy img {
		left: 0;
		opacity: 1;
	}
}
@media only screen and (max-width: 640px) {
	.descriptionAboutSolution .everySolutionInOne {
		width: 500px;
	}
	.descriptionAboutSolution .renewableSorceOfEnergy {
		width: 500px;
	}
	.descriptionAboutSolution .everySolutionInOne img {
		width: 100%;
	}

	.descriptionAboutSolution .everySolutionInOne .description h2,
	.descriptionAboutSolution .renewableSorceOfEnergy h2 {
		font-size: 2.5rem;
	}

	.descriptionAboutSolution .everySolutionInOne .description h4,
	.descriptionAboutSolution .renewableSorceOfEnergy h4 {
		font-size: 2rem;
	}
	.descriptionAboutSolution .everySolutionInOne .description p,
	.descriptionAboutSolution .renewableSorceOfEnergy p {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 533px) {
	.descriptionAboutSolution {
		padding: 10px;
	}
	.descriptionAboutSolution .everySolutionInOne {
		width: 400px;
	}
	.descriptionAboutSolution .renewableSorceOfEnergy {
		width: 400px;
	}
	.descriptionAboutSolution .everySolutionInOne .description h2,
	.descriptionAboutSolution .renewableSorceOfEnergy h2 {
		font-size: 2.3rem;
	}

	.descriptionAboutSolution .everySolutionInOne .description h4,
	.descriptionAboutSolution .renewableSorceOfEnergy h4 {
		font-size: 1.7rem;
	}
	.descriptionAboutSolution .everySolutionInOne .description p,
	.descriptionAboutSolution .renewableSorceOfEnergy p {
		font-size: 1.3rem;
	}
}
@media only screen and (max-width: 420px) {
	.descriptionAboutSolution .everySolutionInOne {
		width: 300px;
	}
	.descriptionAboutSolution .renewableSorceOfEnergy {
		width: 300px;
	}
	.descriptionAboutSolution .everySolutionInOne .description h2,
	.descriptionAboutSolution .renewableSorceOfEnergy h2 {
		font-size: 2rem;
	}

	.descriptionAboutSolution .everySolutionInOne .description h4,
	.descriptionAboutSolution .renewableSorceOfEnergy h4 {
		font-size: 1.5rem;
	}
	.descriptionAboutSolution .everySolutionInOne .description p,
	.descriptionAboutSolution .renewableSorceOfEnergy p {
		font-size: 1.1rem;
	}
}
