* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
}

:root {
	--nav-height: 90px;
	--nav-heigth-small: 70px;
	--nav-heigth-smallest: 50px;
	--main-color: rgb(10, 48, 160);
	--color-white: #eee;
	--footer-font-color: #aaa;
	--footer-color: rgb(22, 21, 21);
}

body {
	overflow-x: hidden;
}
button,
a {
	cursor: pointer;
}
main {
	width: 100%;
}

.navigation {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: var(--nav-height);
	box-shadow: 0 1px 10px 0 #ccc;
	background-color: var(--color-white);
}

.navigation_container {
	display: flex;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 10px 15px;
}

.navigation_container .container_logo {
	height: 100%;
}

.navigation_container .container_logo img {
	height: 100%;
}

.navigation_container .container_nav_list {
	display: flex;
	position: relative;
	/* z-index: 100; */
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	flex-basis: 100%;
	flex-direction: column;
	padding: 0 100px;
}

.navigation_container .container_nav_list > ul {
	display: flex;
	text-align: center;
	justify-content: left;
}

.navigation_container .container_nav_list li {
	list-style: none;
	position: relative;
}

.navigation_container .container_nav_list li > a {
	display: block;
	position: relative;
	list-style: none;
	font-size: 2rem;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 50px;
	padding: 10px 0 10px 0;
	text-decoration: none;
	letter-spacing: 1px;
	transition: 0.3s;
}

.navigation_container .container_nav_list > ul > li > a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	opacity: 0;
	border-bottom: 3px solid var(--main-color);
	transition: 0.3s;
}

.navigation_container .container_nav_list > ul > li > a:hover {
	color: var(--main-color);
}
.navigation_container .container_nav_list > ul > li > a:hover::after {
	opacity: 1;
	right: 0;
}

.navigation_container .container_phone {
	display: flex;
	width: 300px;
}

.navigation_container .container_phone a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
.navigation_container .container_phone i {
	font-size: 3rem;
	padding: 10px;
	color: var(--main-color);
}

.navigation_container .container_nav_list .nav__every-offers {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	flex-direction: column;
	text-align-last: left;
	justify-content: flex-start;
	width: 350px;
	background-color: var(--color-white);
}

.navigation_container .container_nav_list .nav__every-offers > li {
	display: flex;
	transition: background-color 0.4s;
}

.navigation_container .container_nav_list .nav__every-offers > li:hover {
	background-color: rgba(10, 48, 160, 0.05);
}

.navigation_container .container_nav_list .nav__every-offers > li > a {
	display: block;
	transition: color 0.4s;
	width: 100%;
	padding: 15px 10px 15px;
	margin-right: 0;
}

.navigation_container .container_nav_list .nav__every-offers > li:hover > a {
	color: var(--main-color);
}

.navigation_container
	.container_nav_list
	> ul
	> li:nth-of-type(2):hover
	.nav__every-offers {
	display: flex;
}

/* NAVIGATION BARR */

.navigation_container .nav_bar {
	display: none;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 99;
	transition: all 0.5s;
}
.navigation_container .nav_bar i {
	font-size: 3rem;
}
.navigation_container .nav_phone_list {
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	right: 0;
	bottom: 0;
	padding: 50px;
	background-color: var(--footer-color);
	opacity: 0;
	transition: all 0.7s;
	overflow: scroll;
}

.navigation_container .nav_phone_list.showNav {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.navigation_container .nav_phone_list .back-to-main-page {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: 2px solid var(--color-white);
	border-radius: 50%;
	cursor: pointer;
}

.navigation_container .nav_phone_list .back-to-main-page i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	font-size: 2rem;
}

.navigation_container .nav_phone_list ul {
	display: flex;
	flex-direction: column;
}
.navigation_container .nav_phone_list li {
	display: flex;
	width: 100%;
	list-style: none;
	border-bottom: 1px solid var(--footer-font-color);
}
.navigation_container .nav_phone_list a {
	display: block;
	position: static;
	min-width: 350px;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	color: var(--color-white);
}

.navigation_container .nav_phone_list i {
	display: flex;
	width: 65px;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: var(--color-white);
	cursor: pointer;
	transition: all 0.4s;
}

.navigation_container .nav_phone_list .arrow-rotate {
	transform: rotate(180deg);
}

.navigation_container .nav_phone_list .nav__bar-every-offers {
	display: none;
	justify-content: flex-end;
	width: 100%;
}

.navigation_container .nav_phone_list .nav__bar-every-offers ul {
	width: 90%;
}

.navigation_container .nav_phone_list .nav__bar-every-offers li {
	width: 90%;
}
.navigation_container .nav_phone_list .nav__bar-every-offers li a {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 1.5rem;
}

.navigation_container .nav_phone_list .show-nav-bar-with-offers {
	display: flex;
}

@media only screen and (max-width: 1330px) {
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.7rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.7rem;
	}
}
@media only screen and (max-width: 1260px) {
	.navigation {
		height: var(--nav-heigth-small);
	}
	.navigation_container .container_nav_list {
		padding: 0 40px;
	}
	.navigation_container .container_phone {
		width: 200px;
	}
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.4rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.4rem;
	}
}
@media only screen and (max-width: 1100px) {
	.navigation_container {
		padding: 5px;
	}
	.navigation_container .container_nav_list {
		padding: 0 40px;
	}
	.navigation_container .container_phone {
		width: 200px;
	}
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.3rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.2rem;
	}
}
@media only screen and (max-width: 980px) {
	.navigation_container .container_phone {
		display: none;
	}
	.navigation_container .container_nav_list {
		display: none;
	}
	.navigation_container .nav_bar {
		display: block;
	}
}
@media only screen and (max-width: 840px) {
	.navigation {
		height: var(--nav-heigth-smallest);
	}
	.navigation_container .nav_bar i {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 550px) {
	.navigation_container .nav_phone_list {
		padding: 30px;
	}
	.navigation_container .nav_phone_list a {
		min-width: 200px;
		padding-bottom: 15px;
		padding-top: 15px;
		font-size: 1.5rem;
	}

	.navigation_container .nav_phone_list i {
		display: flex;
		width: 50px;
		font-size: 2rem;
	}

	.navigation_container .nav_phone_list .nav__bar-every-offers li {
		width: 100%;
	}
	.navigation_container .nav_phone_list .nav__bar-every-offers li a {
		font-size: 1.2rem;
	}
}
