* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
}

:root {
	--nav-height: 90px;
	--nav-heigth-small: 70px;
	--nav-heigth-smallest: 50px;
	--main-color: rgb(10, 48, 160);
	--color-white: #eee;
	--footer-font-color: #aaa;
	--footer-color: rgb(22, 21, 21);
	--max-width: 1400px;
}

body {
	overflow-x: hidden;
}
button,
a {
	cursor: pointer;
}
main {
	width: 100%;
}

/*  */
/* NAWIGATION */
/*  */
/*  */
/*  */
/*  */

.navigation {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: var(--nav-height);
	box-shadow: 0 1px 10px 0 #ccc;
	background-color: var(--color-white);
}

.navigation_container {
	display: flex;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 10px 15px;
}

.navigation_container .container_logo {
	height: 100%;
}

.navigation_container .container_logo img {
	height: 100%;
}

.navigation_container .container_nav_list {
	display: flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	flex-basis: 100%;
	flex-direction: column;
	padding: 0 100px;
}

.navigation_container .container_nav_list ul {
	display: flex;
	text-align: center;
	justify-content: left;
}

.navigation_container .container_nav_list li {
	list-style: none;
}

.navigation_container .container_nav_list li a {
	display: block;
	position: relative;
	list-style: none;
	font-size: 2rem;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 50px;
	padding: 10px 0 10px 0;
	text-decoration: none;
	letter-spacing: 1px;
	transition: 0.3s;
}

.navigation_container .container_nav_list li a::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	opacity: 0;
	border-bottom: 3px solid var(--main-color);
	transition: 0.3s;
}

.navigation_container .container_nav_list li a:hover {
	color: var(--main-color);
}
.navigation_container .container_nav_list li a:hover::after {
	opacity: 1;
	right: 0;
}

.navigation_container .container_phone {
	display: flex;
	width: 300px;
}

.navigation_container .container_phone a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
.navigation_container .container_phone i {
	font-size: 3rem;
	padding: 10px;
	color: var(--main-color);
}

/* NAVIGATION BARR */

.navigation_container .nav_bar {
	display: none;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 99;
	transition: all 0.5s;
}
.navigation_container .nav_bar i {
	font-size: 3rem;
}
.navigation_container .nav_phone_list {
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	right: 0;
	bottom: 0;
	padding: 50px;
	background-color: var(--footer-color);
	opacity: 0;
	transition: all 0.7s;
}

.navigation_container .nav_phone_list.showNav {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
}

.navigation_container .nav_phone_list .back-to-main-page {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: 2px solid var(--color-white);
	border-radius: 50%;
	cursor: pointer;
}

.navigation_container .nav_phone_list .back-to-main-page i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	font-size: 2rem;
}

.navigation_container .nav_phone_list ul {
	display: flex;
	flex-direction: column;
}
.navigation_container .nav_phone_list li {
	list-style: none;
}
.navigation_container .nav_phone_list a {
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	color: var(--color-white);
	border-bottom: 1px solid var(--footer-font-color);
}

@media only screen and (max-width: 1330px) {
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.7rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.7rem;
	}
}
@media only screen and (max-width: 1260px) {
	.navigation {
		height: var(--nav-heigth-small);
	}
	.navigation_container .container_nav_list {
		padding: 0 40px;
	}
	.navigation_container .container_phone {
		width: 200px;
	}
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.4rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.4rem;
	}
}
@media only screen and (max-width: 1100px) {
	.navigation_container {
		padding: 5px;
	}
	.navigation_container .container_nav_list {
		padding: 0 40px;
	}
	.navigation_container .container_phone {
		width: 200px;
	}
	.navigation_container .container_phone a,
	.navigation_container .container_nav_list li a {
		font-size: 1.3rem;
	}
	.navigation_container .container_phone i {
		font-size: 2.2rem;
	}
}
@media only screen and (max-width: 980px) {
	.navigation_container .container_phone {
		display: none;
	}
	.navigation_container .container_nav_list {
		display: none;
	}
	.navigation_container .nav_bar {
		display: block;
	}
}
@media only screen and (max-width: 840px) {
	.navigation {
		height: var(--nav-heigth-smallest);
	}
	.navigation_container .nav_bar i {
		font-size: 2rem;
	}
}

.modal__show-picture {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.85);
}

.modal__wrapper {
	width: 100%;
	height: 100%;
}

.modal__picture-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal__picture-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal__picture-wrapper .fa-times {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 3rem;
	color: var(--color-white);
	cursor: pointer;
}

.modal__show-picture-arrows > .fa-chevron-left,
.modal__show-picture-arrows > .fa-chevron-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	font-size: 3rem;
	color: var(--color-white);
	cursor: pointer;
}
.modal__show-picture-arrows > .fa-chevron-left {
	left: 0;
}
.modal__show-picture-arrows > .fa-chevron-right {
	right: 0;
}

@media only screen and (orientation: landscape) {
	.modal__picture-wrapper img {
		height: 100%;
		max-width: 100%;
	}
}

@media only screen and (orientation: portrait) {
	.modal__picture-wrapper img {
		max-height: 100%;
		width: 100%;
	}
}

.showWhereAreYou {
	width: 100%;
	margin-top: var(--nav-height);
	height: var(--nav-height);
	background-color: var(--main-color);
	color: var(--color-white);
}
.showWhereAreYou__wrapper {
	display: flex;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.showWhereAreYou__show_left-side,
.showWhereAreYou__show_right-side {
	display: flex;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
}

.showWhereAreYou__show_right-side {
	justify-content: flex-end;
}

.showWhereAreYou__show_right-side > h4 {
	font-size: 2rem;
	font-weight: 300;
}

.showWhereAreYou__show_left-side > h4 {
	font-size: 2.5rem;
}

@media only screen and (max-width: 1260px) {
	.showWhereAreYou {
		margin-top: var(--nav-heigth-small);
		height: var(--nav-heigth-small);
	}
	.showWhereAreYou__show_right-side > h4 {
		font-size: 1.6rem;
	}

	.showWhereAreYou__show_left-side > h4 {
		font-size: 2.2rem;
	}
}

@media only screen and (max-width: 840px) {
	.showWhereAreYou {
		margin-top: var(--nav-heigth-smallest);
		height: var(--nav-heigth-smallest);
	}

	.showWhereAreYou__wrapper {
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	.showWhereAreYou__show_right-side > h4 {
		font-size: 1.2rem;
	}

	.showWhereAreYou__show_left-side > h4 {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 400px) {
	.showWhereAreYou__show_right-side > h4 {
		font-size: 1rem;
	}

	.showWhereAreYou__show_left-side > h4 {
		font-size: 1.4rem;
	}
}

.realization {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}

.realization__wrapper {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: var(--max-width);
	margin: 40px auto 0;
	overflow: hidden;
}

.realization__wrapper > h4 {
	font-size: 2.5rem;
	margin: 0 0 40px;
	color: var(--main-color);
}

.realization__photos {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	width: 100%;
	height: 350px;
}

.realization__photos img {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: calc(100% / 3);
	transform: translateY(-50%);
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
}

.realization__photos > .realization__arrow-left,
.realization__photos > .realization__arrow-right {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;
	font-size: 3rem;
	z-index: 10;
	cursor: pointer;
	transition: background-color 0.3s;
}
.realization__photos > .realization__arrow-left {
	left: 0;
}
.realization__photos > .realization__arrow-right {
	right: 0;
}

.realization__photos > .realization__arrow-left > .fa-chevron-left,
.realization__photos > .realization__arrow-right > .fa-chevron-right {
	font-size: 3rem;
	transition: font-size 0.3s;
}

.realization__photos > .realization__arrow-left:hover,
.realization__photos > .realization__arrow-right:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
	font-size: 4rem;
}

@media only screen and (max-width: 1400px) {
	.realization__photos {
		height: 300px;
	}
}
@media only screen and (max-width: 1240px) {
	.realization__photos {
		height: 200px;
	}
}
@media only screen and (max-width: 1024px) {
	.realization__photos {
		height: 150px;
	}
	.realization__photos img {
		padding: 0 20px;
	}
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 30px;
		font-size: 3rem;
	}
	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 3.5rem;
	}
}

@media only screen and (max-device-width: 1024px) {
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 30px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 840px) {
	.realization__photos {
		height: 130px;
	}
	.realization__photos img {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 750px) {
	.realization__photos {
		height: 220px;
	}
	.realization__photos img {
		width: calc(100% / 2);
		padding: 0 5px;
	}
}
@media only screen and (max-width: 650px) {
	.realization__photos {
		height: 180px;
	}
	.realization__photos img {
		padding: 0;
	}
	.realization__wrapper > h4 {
		font-size: 2.2rem;
		margin: 0 0 20px;
	}
}
@media only screen and (max-width: 500px) {
	.realization__wrapper {
		margin: 20px auto 0;
	}
	.realization__wrapper:nth-of-type(1) {
		margin: 40px auto 0;
	}
	.realization__photos {
		height: 320px;
	}
	.realization__photos img {
		width: 100%;
	}
	.realization__wrapper > h4 {
		font-size: 2rem;
		margin: 0 0 10px;
	}
}
@media only screen and (max-device-width: 500px) {
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 20px;
	}

	.realization__photos > .realization__arrow-left > .fa-chevron-left,
	.realization__photos > .realization__arrow-right > .fa-chevron-right {
		font-size: 2rem;
	}

	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 360px) {
	.realization__wrapper > h4 {
		font-size: 1.6rem;
		margin: 0 0 10px;
	}
}

/*  */
/* FOOTER */
/*  */
/*  */
/*  */
/*  */
/*  */

.footer {
	width: 100vw;
	background-color: var(--footer-color);
	height: 500px;
	padding: 50px;
	overflow: hidden;
}

.footer * {
	color: var(--footer-font-color);
}

.footer .wrapper {
	position: relative;
	display: flex;
	margin: 0 auto;
	width: 1200px;
}

.footer .contactFooter {
	display: flex;
	position: relative;
	top: 0;
	left: -100%;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	overflow: hidden;
}

.footer h4 {
	font-size: 2.9rem;
	color: var(--color-white);
}

.footer .contactFooter p,
.footer .contactFooter a,
.footer .contactFooter i {
	font-size: 2rem;
}
.footer .contactFooter i {
	margin-right: 10px;
	color: var(--color-white);
}

.footer .contactFooter a {
	text-decoration: none;
}

.footer .offerFooter,
.footer .navFooter {
	display: flex;
	position: relative;
	left: 100%;
	flex-direction: column;
	text-align: left;
	width: 30%;
}

.footer .offerFooter h4,
.footer .navFooter h4 {
	margin-bottom: 30px;
}

.footer .offerFooter a,
.footer .navFooter a {
	display: block;
	text-decoration: none;
	width: 80%;
	font-size: 1.6rem;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 0.5px solid var(--footer-font-color);
}

@media only screen and (max-width: 1200px) {
	.footer .wrapper {
		width: 1000px;
	}
}
@media only screen and (max-width: 1024px) {
	.footer .wrapper {
		width: 800px;
	}
}
@media only screen and (max-width: 850px) {
	.footer {
		padding: 50px 15px 15px 15px;
		height: 400px;
	}
	.footer .wrapper {
		width: 650px;
	}
	.footer .contactFooter p,
	.footer .contactFooter a,
	.footer .contactFooter i {
		font-size: 1.5rem;
	}
	.footer .contactFooter {
		justify-content: space-between;
	}

	.footer h4 {
		font-size: 2.6rem;
	}
}

@media only screen and (max-width: 720px) {
	.footer .contactFooter {
		left: 0;
	}
	.footer .offerFooter,
	.footer .navFooter {
		left: 0;
	}
}

@media only screen and (max-width: 660px) {
	.footer .wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 533px) {
	.footer {
		padding: 15px 15px 15px 15px;
		height: auto;
	}
	.footer .wrapper {
		flex-direction: column;
		width: 400px;
	}
	.footer .contactFooter,
	.footer .offerFooter,
	.footer .navFooter {
		width: 100%;
	}
	.footer h4 {
		margin-top: 20px;
	}

	.footer .contactFooter h4 {
		margin-bottom: 20px;
	}
	.footer .contactFooter p,
	.footer .contactFooter a,
	.footer .contactFooter i {
		font-size: 1.7rem;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 420px) {
	.footer .wrapper {
		width: auto;
	}
}
