.modal__show-picture {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.85);
}

.modal__wrapper {
	width: 100%;
	height: 100%;
}

.modal__picture-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.modal__picture-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal__picture-wrapper .fa-times {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 3rem;
	color: var(--color-white);
	cursor: pointer;
}

.modal__show-picture-arrows > .fa-chevron-left,
.modal__show-picture-arrows > .fa-chevron-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	font-size: 3rem;
	color: var(--color-white);
	cursor: pointer;
}
.modal__show-picture-arrows > .fa-chevron-left {
	left: 0;
}
.modal__show-picture-arrows > .fa-chevron-right {
	right: 0;
}

@media only screen and (orientation: landscape) {
	.modal__picture-wrapper img {
		height: 100%;
		max-width: 100%;
	}
}

@media only screen and (orientation: portrait) {
	.modal__picture-wrapper img {
		max-height: 100%;
		width: 100%;
	}
}

.realization {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
}

.realization__wrapper {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: var(--max-width);
	margin: 40px auto 0;
	overflow: hidden;
}

.realization__wrapper > h4 {
	font-size: 2.5rem;
	margin: 0 0 40px;
	color: var(--main-color);
}

.realization__photos {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	width: 100%;
	height: 350px;
}

.realization__photos img {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: calc(100% / 3);
	transform: translateY(-50%);
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
}

.realization__photos > .realization__arrow-left,
.realization__photos > .realization__arrow-right {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;
	font-size: 3rem;
	z-index: 10;
	cursor: pointer;
	transition: background-color 0.3s;
}
.realization__photos > .realization__arrow-left {
	left: 0;
}
.realization__photos > .realization__arrow-right {
	right: 0;
}

.realization__photos > .realization__arrow-left > .fa-chevron-left,
.realization__photos > .realization__arrow-right > .fa-chevron-right {
	font-size: 3rem;
	transition: font-size 0.3s;
}

.realization__photos > .realization__arrow-left:hover,
.realization__photos > .realization__arrow-right:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
	font-size: 4rem;
}

@media only screen and (max-width: 1400px) {
	.realization__photos {
		height: 300px;
	}
}
@media only screen and (max-width: 1240px) {
	.realization__photos {
		height: 200px;
	}
}
@media only screen and (max-width: 1024px) {
	.realization__photos {
		height: 150px;
	}
	.realization__photos img {
		padding: 0 20px;
	}
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 30px;
		font-size: 3rem;
	}
	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 3.5rem;
	}
}

@media only screen and (max-device-width: 1024px) {
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 30px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 840px) {
	.realization__photos {
		height: 130px;
	}
	.realization__photos img {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 750px) {
	.realization__photos {
		height: 220px;
	}
	.realization__photos img {
		width: calc(100% / 2);
		padding: 0 5px;
	}
}
@media only screen and (max-width: 650px) {
	.realization__photos {
		height: 180px;
	}
	.realization__photos img {
		padding: 0;
	}
	.realization__wrapper > h4 {
		font-size: 2.2rem;
		margin: 0 0 20px;
	}
}
@media only screen and (max-width: 500px) {
	.realization__wrapper {
		margin: 20px auto 0;
	}
	.realization__wrapper:nth-of-type(1) {
		margin: 40px auto 0;
	}
	.realization__photos {
		height: 320px;
	}
	.realization__photos img {
		width: 100%;
	}
	.realization__wrapper > h4 {
		font-size: 2rem;
		margin: 0 0 10px;
	}
}
@media only screen and (max-device-width: 500px) {
	.realization__photos > .realization__arrow-left,
	.realization__photos > .realization__arrow-right {
		width: 20px;
	}

	.realization__photos > .realization__arrow-left > .fa-chevron-left,
	.realization__photos > .realization__arrow-right > .fa-chevron-right {
		font-size: 2rem;
	}

	.realization__photos > .realization__arrow-left:hover > .fa-chevron-left,
	.realization__photos > .realization__arrow-right:hover > .fa-chevron-right {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 360px) {
	.realization__wrapper > h4 {
		font-size: 1.6rem;
		margin: 0 0 10px;
	}
}
